/* Introdução
*O que significa CSS?
Cascading Style Sheet
*Código para criar estilos no HTML
*HTML é a estrutura, e o CSS é a beleza
*Não é uma linguagem de programação;
*É uma linguagem style sheet
*/

/*Comentários
*Não irá afetar o seu código
*Ajuda a lembrar blocos de códigos
*Deixa dicas para leitura
*Ajuda outros a entederem
*Nunca esqueça de fechar um comentário aberto

Comentário começam com '/*' e terminam com '*(remover esse comentario)/'
*/

/*
Anatomia

'''css
h1 {
    color: blue;
    font-size: 60px;
    background: gray;
}
'''

*Selector - é o h1
*Declaration - { }
*Properties - color, font-size, background
*Property Value - blue, 60px, gray
*/

/*
*Selectors
Conecta um elemento HTML com o CSS

*Tipos
Global selector '*'
Element/Type selector 'h1, h2, p, div'
ID Selector '#box, #container'
CLass Selector '.red, .m-4'
Attribute selector, Pseudo-class, Pseudo-element e outros
*/

/*
*Caixas
VocÊ irá perceber que (quase) tudo são caixas do CSS
Posicionamentos, tamanhos, espaçamentos, bordas, cores
Caixa pode ficar ao lado uma da outra, ou acima
ELementos HTML são caixas
*/

/*
*Adicionando CSS

    *inline
    atributo 'style'

    *<style>
    taga html que irá conter o css

    *<link>
    arquivo css externo

    *@import
    arquivo css externo
*/